
.navbar{
    background: #040a3c;
    position: relative; /* Add position to use z-index */
    z-index: 1050; /* A high index ensures it's on top of other content */

}

.event-card {
    position: relative; /* Relative positioning for absolute positioning of the button */
    margin-top: 50px;
    margin-bottom: 20px;
    background: linear-gradient(to right, rgba(17, 16, 107, 0.84), rgba(2, 0, 113, 0.22)), url("../images/fair.jpg");
    background-size: cover;
    background-position: center;
    width: 973px;
    height: 481px;
    color: #ffffff;
    text-align: left;
}

.event-card:hover {
    transform: scale(1.05); /* Scales up the card by 5% on hover */
}

/* Keyframes for additional smoothness and responsiveness */
@keyframes scaleUp {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.05);
    }
}

.event-card:hover {
    animation: scaleUp 0.5s forwards; /* Uses the keyframes for animation on hover */
}

.event-text {
    height: 100%;
    padding-top: 180px;
    padding-left: 80px;
    font-family: "SF Pro Display Medium", sans-serif;
    font-size: 45px;
}

.container-button {
    position: absolute; /* Absolute positioning relative to the nearest positioned ancestor (event-card) */
    bottom: 50px; /* 20px from the bottom */
    right: 30px; /* 20px from the right */
}


.card-pos{
    display: flex;
    justify-content: center;
    align-items: center;

}

.line-white {
    height: 10px; /* Specifies the thickness of the line */
    width: 91px; /* Adjust the width as necessary */
    background-color: #fff; /* White color line */
    margin-top: 20px; /* Space between the text and the line */
}

.event-title{
    margin-top:40px;
    font-size: 41px;
    font-weight: bold;
    font-family: "SF Pro Display Medium", sans-serif;
    text-align: center;
    color: #040a3c;
}

.event-text-pages{
    height: 100%;
    padding-top: 90px;
    padding-left: 80px;
    font-family: "SF Pro Display Medium", sans-serif;
    font-size: 45px
}

.event-details-gpp{
    margin-top: 50px;
    width: auto;
    height: auto ;
    overflow: hidden;
    flex-shrink: 0;
}

.event-details-gpp img{
    width: 100%;
    height: auto;
}

.tentative-button{
    background-color: #010953;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 0px;
    border: none;
    width: 100%;
    margin-top: 20px;
}

.tentative-button:hover{
    background-color: #9fa9ff;
    color: #010953;
    animation: ease-in-out 0.3ms;


}

/* Lightbox styles */
.lightbox {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.lightbox-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.lightbox-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.lightbox-close:hover,
.lightbox-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
